#footer{
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
}
#footer>div>a{
    text-decoration: none;
    color: black;
}
#footer>div>a:hover{
    text-decoration: underline;
    color: blue;
}
#socialicon>a{
    text-decoration: none;
    color: black;
}
#socialicon{
    display: flex;
    gap: 20px;
}
#get_email{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}
#get_email>div>form{
    display: flex;
    justify-content: space-around;
}
#get_email>div>form>input{
    border: 1px solid;
}
#get_email>div{
    /* border: 1px solid red; */
    display: flex;
}
#btn{
    background-color:#00819d;
    color: white;
    height: 42px;
}
#btn:hover{
    background-color:white;
    color: #00819d;
}
#privacy{
    display: flex;
    gap: 20px;
}
#privacy>a{
    color: black;
    text-decoration: none;
}
#privacy>a>p:hover{
    color: blue;
    text-decoration: underline;

}
#exclusive>a>img{
    width: 100%;
    border: 2px solid green;
}
#footer_body{
    width: 98%;
    margin: auto;
}
#prabhat{
    height: 200px;
}